@media screen and (max-width: 767px) {
    .advantage {
        padding-top: 60px;
    }
    .advantage-set {
        flex-wrap:wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 450px;
       /* margin-top: -30px;
        margin-left: -30px;*/
    }
    .advantage-items {
        margin-top: -30px;
        /*margin-left: -30px;*/
        /*margin-top: 30px;
        margin-left: 30px;
        flex-basis: calc((100% - 120px)/4);*/
        width: 100%;
        justify-items: center;
        margin-bottom: 60px;
    }
    .advantage-card {
        margin-top: 30px;
        flex-basis: calc((100% - 120px)/4);
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        width: 450px;
        height: 120px;
        background-color: #f5f4fa;
        border-radius: 4px;
        margin-bottom: 30px;
    }
    .advantage-name {
        display: flex;
        justify-content: center;
        font-family: var(--main-font);
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-text-color);
        margin-bottom: 10px;
    }
    .advantage-explanation {
        display: flex;
        font-family: var(--main-font);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
    }
}

@media screen and (min-width: 768px) {
    .advantage {
        padding-top: 60px;
    }
    .advantage-set {
        display: flexbox;
        flex-wrap: wrap;
        margin-left: -30px;
    }
    .advantage-items {
        margin-left: 30px;
        flex-basis: calc((100% - 60px)/2);
        width: 354px;
        justify-items: center;
    }
    .advantage-card {
        height: 120px;
        background-color: #f5f4fa;
        border-radius: 4px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .advantage-name {
        font-family: var(--main-font);
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-text-color);
        margin-bottom: 10px;
    }
    .advantage-explanation {
        font-family: var(--main-font);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
    }
}

@media screen and (min-width:1200px) {
    .advantage {
        padding-top: 94px;
    }
    .advantage-set {
        display: flex;
        flex-wrap:nowrap;
        margin-top: -30px;
        margin-left: -30px;
    }
    .advantage-items {
        margin-top: 30px;
        margin-left: 30px;
        flex-basis: calc((100% - 120px)/4);
        width: 270px;
        justify-items: center;
    }
    .advantage-card {
        height: 120px;
        background-color: #f5f4fa;
        border-radius: 4px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .advantage-name {
        font-family: var(--main-font);
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-text-color);
        margin-bottom: 10px;
    }
    .advantage-explanation {
        font-family: var(--main-font);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
    }
}