.logo {
    width: 145px;
    height: 31px;
    left: 215px;
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--focus-color );
    }