:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-text-color: #212121;
    --secondary-text-color:#757575;
    --focus-color:  #2196F3;
    --standart-color: #fff;
    --team-bg-color: #F5F4FA; 
    --footer-bg-color: #2F303A;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --clients-logo-color: rgba(175, 177, 184, 1);
}